<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../public/home.css">
</head>
<body>
  <h2>Home Page</h2>

  <div class="container">

  <form action="/createuser" method="post">
    <label for="uname">UserName:</label>
    <input type="text" name="uname" id="uname" placeholder="UserName here...">

    <br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Password here...">

    <br><br>

    <label for="fname">FirstName:</label>
    <input type="text" name="fname" id="fname" placeholder="FirstName">

    <br><br>

    <label for="lname">LastName:</label>
    <input type="text" name="lname" id="lname" placeholder="LastName">

    <br><br>

    <label for="age">Age:</label>
    <input type="text" name="age" placeholder="Enter Age">

    <br><br>
    
    <input type="submit" id="submit" value="SUBMIT">
  </form>
  </div>
</body>
</html>